<h2 mat-dialog-title>Modification client</h2>
<mat-dialog-content class="mat-typography" >

<form (ngSubmit)="onEdit()" style="width: 45vw; display: flex;
flex-wrap: wrap; gap: 6px; justify-content: space-evenly; margin-top: 5px;">
  <mat-form-field appearance="outline">
      <mat-label>{{data.client.nom}}</mat-label>
      <input type="text" name="nom" matInput required [(ngModel)]="data.client.nom">
  </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{data.client.prenom}}</mat-label>
      <input matInput required [(ngModel)]="data.client.prenom" name="prenom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{data.client.nomPDG}}</mat-label>
      <input matInput required [(ngModel)]="data.client.nomPDG" name="nomPDG">
    </mat-form-field>
  
    <mat-form-field appearance="outline" >
      <mat-label>{{data.client.email}}</mat-label>
      <input matInput ng-required="true" [(ngModel)]="data.client.email" name="email" ng-pattern=" ^[a-z]+[a-z0-9._-]+@[a-z]+.[a-z.]{2,5}$"
      > 
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>{{data.client.adressePostale}}</mat-label>
      <input matInput required [(ngModel)]="data.client.adressePostale" name="adressePostale">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{data.client.ville}}</mat-label>
      <input matInput required [(ngModel)]="data.client.ville" name="ville">
    </mat-form-field>
  <mat-form-field> 
    <mat-label>{{data.client.typeClient}}</mat-label>
    <mat-select required [(ngModel)]="data.client.typeClient" name="typeClient">
      <mat-option value="Agricole">Agricole</mat-option>
      <mat-option value="Cabinet comptable">Cabinet comptable</mat-option>
      <mat-option value="Commerce">Commerce</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit" value="Confirmer la modification" style="background-color: #5b48a3; color: white;">Confirmer la modification</button>
  </mat-dialog-actions>
</form>

</mat-dialog-content>